:root {
  --branding-color: #d3e5f3;
  --color: #0477fa;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--branding-color);
  text-align: center;
}
h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 1.5;
}
p {
  margin: 50px auto 50px;
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
}
h2 {
  font-size: 64px;
  margin: 10px auto;
}
.columns-title {
  font-size: 64px;
  margin: 250px auto 100px;
}
#name {
  margin: 300px auto 30px;
}
.container {
}
.row {
  margin: 200px auto 200px;
}
#button__resume,
#button__contact {
  margin: 30px;
}
#button__resume:hover,
#button__contact:hover {
  color: var(--color);
  background-color: white;
}
.btn-branding-outline {
  color: var(--color);
  border: 1px solid var(--color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 200ms ease-in-out;
}
.btn-branding-outline:hover {
  background-color: var(--color);
  color: white;
}
.columns-title {
  padding: 0px 60px;
}
.navbar-text {
  display: block;
  text-align: center;
}
@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }
  h2,
  .columns-title {
    font-size: 44px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
